body {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.conteudo {
    display: flex;
    justify-content: space-around;

}


.painel {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 500px;
    height: 800px;
}

.casa {

    position: relative;
}

/* varanda */

.varanda {
    position: absolute;
    bottom: 116px;
    left: 10px;
}

.lampada_varanda {
    width: 28px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    bottom: -58px;
    left: 140px;
}

.luz_varanda {
    width: 273px;
    height: 102px;
    position: absolute;
    background-color: #3498db;
      transition: background-color 0.5s ease;
}

#mySwitch1:checked + .luz_varanda {
    background-color: #e74c3c;
}


/* Quarto */

.quarto_1 {
    position: absolute;
    bottom: 787px;
    left: 268px;
}

.lampada_quarto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: 125px;
    bottom: -132px;
}

.luz_quarto {
    width: 257px;
    height: 243px;
    position: absolute;
    background-color: #00000091;
}

/* cozinha */

.cozinha {
    position: absolute;
    bottom: 787px;
    left: 16px;
}

.lampada_cozinha {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: 112px;
    top: 92px;
}

.luz_cozinha {
    width: 249px;
    height: 216px;
    position: absolute;
    background-color: #00000091;
}

/* banheiro */

.banheiro {
    position: absolute;
    bottom: 539px;
    left: 354px;
}

.lampada_banheiro {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: 103px;
    top: 30px;
}

.luz_banheiro {
    width: 230px;
    height: 115px;
    position: absolute;
    background-color: #00000091;
}

/* Quarto 2 */

.quarto_2 {
    position: absolute;
    bottom: 421px;
    left: 270px;
}

.lampada_quarto_2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: 121px;
    top: 107px;
}

.luz_quarto_2 {
    width: 253px;
    height: 255px;
    position: absolute;
    background-color: #00000091;
}

/* Sala */

.sala_1 {
    position: absolute;
    bottom: 563px;
    left: 14px;
}

.sala_2 {
    position: absolute;
    bottom: 421px;
    left: 14px;
}

.lampada_sala {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: 83px;
    top: 46px;
}

.lampada_sala_2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    left: 118px;
    top: 122px;
}

.luz_sala {
    width: 253px;
    height: 142px;
    position: absolute;
    background-color: #00000091;
}

.luz_sala_2 {
    width: 253px;
    height: 300px;
    position: absolute;
    background-color: #00000091;
}


/* Switch  */

.switch-container {
    display: inline-block;
    position: relative;
}

/* Estilizando a checkbox para torná-la invisível */
.switch-checkbox {
    display: none;
}

/* Estilizando o rótulo que representa o switch */
.switch-label {
    display: block;
    width: 60px;
    /* Aumentando a largura */
    height: 30px;
    /* Aumentando a altura */
    background: rgb(2, 0, 36);
    background: linear-gradient(270deg, #FFEBA4 1.29%, #FFC700 2.9%, rgba(208, 163, 0, 0.98) 9.55%, rgba(63, 46, 3, 0.92) 28.34%, rgba(0, 0, 0, 0.89) 39.79%, rgba(0, 0, 0, 0.89) 57.84%, rgba(0, 0, 0, 0.89) 77.22%, rgba(0, 0, 0, 0.89) 93.19%);
    border-radius: 15px;
    /* Aumentando o raio da borda */
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease-out;
    /* Adicionando transição com função de temporização "ease" */
}

/* Estilizando o botão (a parte móvel do switch) */
.switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    /* Aumentando a largura do botão */
    height: 26px;
    /* Aumentando a altura do botão */
    background-color: #dadada;
    border-radius: 50%;
    transition: left 0.3s;
}

/* Alterando a posição do botão quando a checkbox está marcada */
.switch-checkbox:checked+.switch-label .switch-button {
    left: 32px;
    /* Ajustando a nova posição do botão quando a checkbox está marcada */
    background-color: #fff;
}

/* Alterando o background quando a checkbox está marcada */
.switch-checkbox:checked+.switch-label {
    transition: background 0.3s ease-in;
    background: linear-gradient(270deg, #FFCE1F 0%, rgba(236, 184, 0, 0.93) 11.5%, #FFC700 24%, rgba(255, 199, 0, 0.88) 34.5%, rgba(227, 177, 0, 0.81) 47.5%, rgba(216, 168, 0, 0.78) 57.14%, #CC9F00 67%, #271F00 96%, #000 100%);

}


#mySwitch1:checked ~ .luz_varanda {
    background-color: #e74c3c;
}
